# .ebextensions/01_django.config

container_commands:
  00_install_requirements:
    command: "source /var/app/venv/*/bin/activate && pip install -r requirements.txt"

  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static